
<div class="main-content">
  <div class="section__content section__content--p30">
      <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 mr-auto ml-auto" [@fadeInOut] >
              <div class="card">
                <div class="card-header" style="background-color: blue; color:white ; padding: 30px;">
                    <strong class="card-title mb-3">Parametre de votre compte</strong>
                </div>
                <div class="card-body" style="   box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.7);  ">
                    <div class="mx-auto d-block">
                        <img class="rounded-circle mx-auto d-block"  src="assets/images/icon/avatar-01.png" height="70" width="70" alt="Card image cap">
                        <h5 class="text-sm-center mt-2 mb-1"> <i class="fa fa-user"></i> {{userInfo.userFirstname}}  {{userInfo.userLastName}} </h5>
                        <div class="location text-sm-center">
                            <i class="fa fa-map-marker"></i> {{userInfo.adresse}} </div>
                    </div>
                    <hr>
                    <div class="card-header" style="background-color: blue; color:white">
                      <strong>Information</strong>
                      <small> Complet</small>
                  </div>
                  <div class="card-body card-block">
                      <div class="form-group">
                          <label for="company" class=" form-control-label">Nom</label>
                          <br>
                          <div style=" color: black; float: left;">{{userInfo.userFirstname}}</div>
                          <div style=" float: right;">
                              <div class="table-data-feature">
                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Edit" data-toggle="modal" data-target="#smallmodal" (click)="updateData('1')">
                                       <i class="zmdi zmdi-edit"></i>
                                    </button>
                              </div>
                          </div>
                      </div>
                      <br>
                    <hr>

                      <div class="form-group">
                        <label for="vat" class=" form-control-label">Prenom</label>
                        <br>
                        <div style=" color: black; float: left;">{{userInfo.userLastName}}</div>
                        <div style=" float: right;">
                            <div class="table-data-feature">
                                  <button class="item" data-toggle="tooltip" data-placement="top" title="Edit" data-toggle="modal" data-target="#smallmodal" (click)="updateData('2')">
                                     <i class="zmdi zmdi-edit"></i>
                                  </button>
                            </div>
                        </div>
                      </div>
                      <br>
                    <hr>

                    <div class="form-group">
                        <label for="street" class=" form-control-label">Adresse</label>
                        <br>
                          <div style=" color: black; float: left;">{{userInfo.adresse}}</div>
                          <div style=" float: right;">
                              <div class="table-data-feature">
                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Edit" data-toggle="modal" data-target="#smallmodal" (click)="updateData('3')">
                                       <i class="zmdi zmdi-edit"></i>
                                    </button>
                              </div>
                          </div>
                    </div>
                    <br>
                    <hr>

                    <div class="form-group">
                      <label for="street" class=" form-control-label">Telephone</label>
                      <br>
                          <div style=" color: black; float: left;">{{userInfo.phone}}</div>
                          <div style=" float: right;">
                              <div class="table-data-feature">
                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Edit" data-toggle="modal" data-target="#smallmodal" (click)="updateData('4')">
                                       <i class="zmdi zmdi-edit"></i>
                                    </button>
                              </div>
                          </div>
                    </div>
                    <br>
                    <hr>

                    <div class="form-group">
                      <label for="street" class=" form-control-label">Adresse E-mail</label>
                      <br>
                          <div style=" color: black; float: left;">{{userInfo.userName}}</div>
                    </div>
                    <br>
                    <hr>
                    <div class="form-group">
                      <label for="street" class=" form-control-label">Reference</label>
                      <br>
                          <div style=" color: black; float: left;">{{userInfo.role[0].desabreviation}}</div>
                    </div>
                    <br>
                    <hr>

                    <div class="form-group">
                      <label for="street" class=" form-control-label">Status</label>
                      <br>
                          <div style=" color: greenyellow; float: left;">En ligne</div>
                          <div style=" float: right;">
                            <div >
                                  <button class=" btn btn-danger " (click)="deconnecter()" >
                                     <i class="zmdi zmdi-power" style="font-style: normal;"> </i>
                                     Se deconnecter
                                  </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>

                    <div class="form-group">
                      <label for="street" class=" form-control-label">Activation/Desactivation du compte</label>
                      <p>Pour reactiver votre compte il suffit de vous reconnecter</p>
                      <br>
                          <div style=" color: greenyellow; float: left;">Activer</div>
                          <div style=" float: right;">
                            <div >
                                  <button class=" btn btn-danger " (click)="deconnecter()" >
                                     <i class="zmdi zmdi-power" style="font-style: normal;"> </i>
                                     Desactiver votre compte
                                  </button>
                            </div>
                        </div>
                    </div>

                    <br>
                    <hr>



                  </div>



                  </div>
                </div>
            </div>
            </div>
          </div>

      </div>
  </div>




  <div class="modal fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="smallmodalLabel"> Modifier : {{modification}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" placeholder="nouveau {{modification}}" [(ngModel)]="donner">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="ConfirmData()">Confirmer</button>
        </div>
      </div>
    </div>
  </div>






