
<div class="card-header">
  Formulaire pour faire <strong>Demande d'export Tiers vers SIIGMP</strong>
</div>
<div class="card-body card-block">


  <form [formGroup]="insertionTiers" (ngSubmit)="valider()">


    <div class="row form-group">
      <div class="col col-md-3">
          <label for="text-input" class=" form-control-label">NIF</label>
          <div>

          </div>
      </div>
      <div class="col-12 col-md-9">
          <input type="text" id="text-input" name="text-input" placeholder="Votre NIF" ngModel formControlName="NIF" class="form-control">
          <small class="help-block form-text" *ngIf="NIF?.invalid && NIF?.touched" [@fadeInOut]>* Obligatoire</small>

      </div>
    </div>
    <div class="row form-group">
      <div class="col col-md-3">
          <label for="text-input" class=" form-control-label">STAT</label>
          <div>

          </div>
      </div>
      <div class="col-12 col-md-9">
          <input type="text" id="text-input" name="text-input" placeholder="Votre STAT" ngModel formControlName="STAT" class="form-control">
          <small class="help-block form-text" *ngIf="STAT?.invalid && STAT?.touched" [@fadeInOut]>* Obligatoire</small>

      </div>
    </div>


    <div class="row form-group">
        <div class="col col-md-3">
            <label for="text-input" class=" form-control-label">Nom</label>
            <div>

            </div>
        </div>
        <div class="col-12 col-md-9">
            <input type="text" id="text-input" name="text-input" placeholder="Nom du demandeur" class="form-control" ngModel formControlName="nom">
            <small class="help-block form-text" *ngIf="nom?.invalid && nom?.touched" [@fadeInOut]>* Obligatoire</small>
        </div>
    </div>

      <div class="row form-group">
        <div class="col col-md-3">
            <label for="email-input" class=" form-control-label">Prenom</label>
        </div>
        <div class="col-12 col-md-9">
            <input type="text" id="email-input" name="email-input" placeholder="Prenom du demandeur" class="form-control" ngModel formControlName="prenom">
            <small class="help-block form-text" *ngIf="prenom?.invalid && prenom?.touched" [@fadeInOut]>* Obligatoire</small>
        </div>
    </div>



    <div class="row form-group">
      <div class="col col-md-3">
          <label for="text-input" class=" form-control-label">Adresse physique</label>
          <div>
          </div>
      </div>
      <div class="col-12 col-md-9">
          <input type="text" id="text-input" name="text-input" placeholder="Adresse du demandeur" class="form-control" ngModel formControlName="adresse">
          <small class="help-block form-text" *ngIf="adresse?.invalid && adresse?.touched" [@fadeInOut]>* Obligatoire</small>
      </div>
    </div>



    <div class="row form-group">
        <div class="col col-md-3">
            <label for="textarea-input" class=" form-control-label">Commentaire</label>
        </div>
        <div class="col-12 col-md-9">
            <textarea name="textarea-input" id="textarea-input" rows="9" placeholder="Ecrivez une description ou commentaire de votre requete" class="form-control" ngModel formControlName="remarque"></textarea>
            <small class="help-block form-text" *ngIf="remarque?.invalid && remarque?.touched" [@fadeInOut]>* Obligatoire</small>
        </div>
    </div>



    <div class="row form-group">
        <div class="col col-md-3">
            <label for="file-multiple-input" class=" form-control-label">NIF + STAT + Autre</label>
        </div>
        <div class="col-12 col-md-9">
            <input type="file" id="file-multiple-input" (change)="selectFile($event)" name="file-multiple-input" multiple class="form-control-file">
        </div>
    </div>

    <div class="row form-group" *ngIf="loading === false">
      <div class="col col-md-3">
          <input type="submit" value="Valider" class="btn btn-primary" [disabled]="insertionTiers.invalid">
      </div>

    </div>

    <div class="row form-group" *ngIf="loading === true" >
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>





  </form>

</div>






  <div id="popup1" class="overlay" *ngIf="notif" [@fadeInOut]>
    <div class="popup">
      <h2 class="titleNotif" >Notif :</h2>
      <a class="close" href="demande/exportTiersSiigmp#popup1" (click)="notifClear()">&times;</a>
      <div class="content">
        {{notif}}
      </div>
    </div>
  </div>


