
<div class="main-content">

  <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="row" [@fadeInOut]>
          <div class="col-lg-12" >
            <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
              <div class="au-card-title" style="background-image:url('assets/images/bg-title-01.jpg');">
                  <div class="bg-overlay bg-overlay--blue"></div>
                  <h3>
                      <i class="fas fa-list-ul"></i>Details Demande</h3>
                  <button class="au-btn-plus">
                      <i class="zmdi zmdi-plus"></i>
                  </button>

              </div>
              <div class="au-task js-list-load">
                  <div class="au-task__title">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/home">Acceuil</a></li>
                        <li class="breadcrumb-item"><a routerLink="/listeDemande">Liste de mes demandes</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Details Demande</li>
                      </ol>
                    </nav>
                      <p style="color: black;">Voici ci dessous la details de votre demande :</p>

                  </div>
                  <div >
                    <div class="container-fluid" style="background-color: gainsboro; padding-top: 15px;">
                      <div class="row">
                        <div class="col-lg-8">

                          <div class="au-card au-card--no-shadow au-card--no-pad m-b-40 au-card--border">

                            <div class="au-inbox-wrap">
                                <div class="au-chat au-chat--border ">
                                    <div class="au-chat__title" style="background-color: blue;">
                                        <div class="au-chat-info" style="padding: 25px  ;">

                                            <span class="nick">
                                                <a style="color: white ; text-decoration: none;"><i class="fas fa-file"></i> {{demande.typeDemande[0].nomTypeDemande}}</a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="top-campaign">
                                      <div class="table-responsive">
                                        <table class="table table-top-campaign">
                                            <tbody>
                                                <tr>
                                                    <td>Ticket :</td>
                                                    <td>{{demande.idDemande}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Date de demande :</td>
                                                    <td>{{demande.dateDeDemande | date: 'dd/MM/yyyy hh:mm'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Status:</td>
                                                    <td  style="color: rgb(129, 129, 19);" *ngIf="demande.status === 0">En attente</td>
                                                    <td  style="color: rgb(129, 129, 19);;"*ngIf="demande.status === 1">En traitement</td>
                                                    <td  style="color: rgb(3, 82, 3);"*ngIf="demande.status === 2">Resolu</td>
                                                    <td  style="color: rgb(128, 5, 5);"*ngIf="demande.status === 3">Rejete</td>
                                                </tr>
                                                <tr *ngFor="let item of nomVariable">
                                                    <td>{{item}} :</td>
                                                    <td>{{detailsDemande[item]}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Remarque :</td>
                                                    <td style="color: rgb(38, 35, 35);">{{demande.remarque}}</td>
                                                </tr>
                                                <tr>
                                                  <td>Piece Jointe</td>
                                                  <td><p  *ngFor="let item of pieceJointes">   <a (click)="download(item , demande.idDemande)"> <i class="fas fa-file"></i> {{item}} <i class="fas  fa-download"></i></a></p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- demande photo-->
                                      </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                          <!--  END TOP CAMPAIGN-->
                        </div>
                        <div class="col-lg-4">
                          <div class="au-card au-card--no-shadow au-card--no-pad m-b-40 au-card--border">

                              <div class="au-inbox-wrap">
                                  <div class="au-chat au-chat--border">
                                      <div class="au-chat__title" style="background-color: blue;">
                                          <div class="au-chat-info">
                                              <div class="avatar-wrap online">
                                                  <div class="avatar avatar--small">
                                                      <img src="assets/images/icon/avatar-01.jpg" alt="SIIGFP ASSISTANCE">
                                                  </div>
                                              </div>
                                              <span class="nick">
                                                  <a style="color: white ;">SIIGFP ASSISTANCE</a>
                                              </span>
                                          </div>
                                      </div>
                                      <div class="loader" *ngIf="loadingMessage">
                                        <div class="loaderBar"></div>
                                      </div>


                                      <div class="au-chat-textfield">
                                          <form class="au-form-icon" [formGroup]="commentaireForm" (ngSubmit)="send()">
                                              <input class="au-input au-input--full au-input--h65" type="text" placeholder="Ecrivez une message" ngModel formControlName="contenue">
                                              <label class="au-input-icon" for="file" style="cursor: pointer; color: blue;" >
                                                  <i  class="zmdi zmdi-attachment iconHover " >
                                                  </i>

                                                </label>
                                                <input type="file" id="file"  style="display: none;" (change)="selectFile($event)">


                                                  <button type="submit" class="btn btn-success" style="margin-top: 5px; width: 100%;" [disabled]="commentaireForm.invalid"><i class="fa fa-paper-plane"></i> Envoyer</button>

                                          </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      </div>
                    </div>

                  </div>



                  <div class="au-task__footer">
                  </div>
              </div>
          </div>
          </div>

          <!-- chat-->

        </div>

      </div>
  </div>
</div>





