<div class="container">
  <div class="row">
    <body [@fadeInOut]>


      <!-- ======= Header ======= -->

      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex align-items-center">

        <div class="container" style="margin: 0;">
          <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
              <h1>Bienvenue dans la site web portail SIGFP</h1>
              <h2>Acceuil</h2>
              <div class="d-flex justify-content-center justify-content-lg-start">
                <a routerLink="/login" *ngIf="!userInform" class="btn-get-started scrollto">Se Connecter</a>
              </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
              <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
          </div>
        </div>

      </section><!-- End Hero -->

      <main id="main">

        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients section-bg">
          <div class="container">

            <div class="row" data-aos="zoom-in">

              <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
              </div>

            </div>

          </div>
        </section><!-- End Cliens Section -->

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">

            <div class="section-title">
              <h2>A propos de Nous</h2>
            </div>

            <div class="row content">
              <div class="col-lg-6">
                <p>
                  Bienvenue dans la site web portail SIGFP (Systeme Informatise de Gestion des Finances Publiques). <br>
                  La gestion des Finances Publiques au sein du Ministere de l'economie et des finances est geree par plusieur systeme d'information tel que cette site web portail SIGFP. <br>
                  Cette site web a pour objectif de fluidifier l'ensemble du processus d'envoye , la reception , le traitement et la gestion des demandes au sein du SIGFP
                </p>

                <p>
                  <strong>
                  Voici l'ensemble des objectif specifique de cette site :
                  </strong>
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Ameliorer la productiviter de la cellule SIGFP</li>
                  <li><i class="ri-check-double-line"></i> Ameliorer la qualiter des information enregistrees</li>
                  <li><i class="ri-check-double-line"></i> Aider les utilisateur a mieux exprimer leurs demandes</li>
                </ul>
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                  culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <a href="http://www.mef.gov.mg/page_personnalisee/index/" class="btn-learn-more">En savoir plus</a>
              </div>
            </div>

          </div>
        </section><!-- End About Us Section -->

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us section-bg">
          <div class="container-fluid" data-aos="fade-up">

            <div class="row">

              <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                <div class="content">
                  <h3> <strong>Didacticiel</strong></h3>
                  <p>
                    Voici ci-dessous les etapes a suivre pour bien utiliser et ne pas se perdre pendant l'usage du site de portail SIGFP
                  </p>
                </div>

                <div class="accordion-list">
                  <ul>
                    <li>
                      <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Creer un compte si vous n'avez pas encore creer ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                      <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                        <p>
                          Premierement , vous devez creer un compte dans notre plateforme en cliquant sur inscription qui se situe en haut a droite de l'ecran . Vous devez remplir la formulaire par vos information valide (Vous devez vous munir un adresse Email qui est actif pour recevoir votre code d'activation de votre compte).
                          Quand vous avez terminez de remplir la formulaire cliquez sur s'inscrire qui se situe tout en dessous du formulaire. <br>
                          <strong>Si vous avez deja une compte , passez a la deuxieme etape</strong>
                        </p>
                      </div>
                    </li>

                    <li>
                      <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Se connecter depuis la page login <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                      <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                        <p>
                          Deuxiemement , vous devez vous connecter en cliquant sur login qui se situe en haut a droite de l'ecran . Une formulaire s'affiche et vous devez les remplir par l'adresse Email et le mot de passe que vous avez ecrit lors de votre inscription (premiere etapes).
                          Lors de votre premiere login , vous devez confrentez a une activation de compte , ne vous inquietez pas . Il suffit de remplir la code a six chiffre .
                          <br>  Mais ou trouver les codes a 6 chiffre ? Ces codes sont envoyer dans votre boites a email (email que vous avez fournis lors de votre inscription) depuis notre email <strong>dgfag.cifag@gmail.com</strong>
                          <br> Si vous avez bien suivi tout ces etapes vous devez  arriver sur la page acceuil .
                        </p>
                      </div>
                    </li>

                    <li>
                      <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Commecez a faire votre premiere demande <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                      <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                        <p>
                          Troisiemement , apres votre login , vous pouvez commencer a faire votre demande dans notre plateforme. <br>
                          Pour cela , il suffit de cliquer dans l'onglet a gauche <strong> <i class="fa fa-pencil-square-o"></i> Formulaire Demande</strong> <br>
                          Une liste de type de demande apparait et il vous suffit de choisir la type de demande qui vous convient de faire . Si toutes les types demandes ne vous convients pas il vous suffit de choisir sur la demande specifiques. <br>
                          Apres avoir choisit votre type de demande , une autre page s'apparait et vous devez tout simplement remplir la formulaire et cliquez sur validez.
                           <br> Une notification apparait si votre demande a ete bien envoyer .
                        </p>
                      </div>
                    </li>
                    <li>
                      <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed"><span>04</span> Reponses des demandes<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                      <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                        <p>
                          Dernierement pour voir la reponse ou procedure de votre demande :
                          <br> Cliquez sur <strong>Liste de mes demandes</strong> qui se situe dans l'onglet a gauche  , une liste de tout vos demandes apparait avec ses details et ses status.
                          <br> Pour voir plus de details d'une de vos demandes cliquez sur <strong>Voir details</strong>
                          <br> Une autre page s'apparait sur votre ecran regroupant 2 section. A gauche , toutes les details plus specifiques de votre demande . Et a droite une boite de message de la SIGFP Assistance

                        </p>
                      </div>
                    </li>

                  </ul>
                </div>

              </div>

              <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
            </div>

          </div>
        </section><!-- End Why Us Section -->

        <!-- ======= Skills Section ======= -->
        <section id="skills" class="skills">
          <div class="container" data-aos="fade-up">

            <div class="row">
              <div class="col-lg-8 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100" style="height: 400px;">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/UUUtQr-KXOY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="col-lg-4 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                <h3>Video tutoriel</h3>
                <p class="fst-italic">
                  Pour mieux comprendre comment utiliser notre site voici ci-dessus une video tutoriel.
                </p>

                <div class="skills-content">



                </div>

              </div>
            </div>

          </div>
        </section><!-- End Skills Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
          <div class="container" data-aos="fade-up">

            <div class="section-title">
              <h2>Notre service</h2>
              <p>Voici ci dessous representer dans des box la liste de notre service :</p>
            </div>

            <div class="row">
              <div class="col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                  <div class="icon"><i class="fas fa-globe"></i></div>
                  <h4><a href="">Site web Disponible 24H/24H et 7j/7j </a></h4>
                  <p>Notre site web est toujours disponible a n'importe quel heure et n'importe quelle moment et ou que vous soyez pour faire des demandes dans notre plateforme</p>
                </div>
              </div>

              <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                  <div class="icon"><i class="fa fa-bolt"></i></div>
                  <h4><a href="">Reponse de votre demande rapide</a></h4>
                  <p>Pas plus de 48H pour recevoir une reponse pour chaque demande que vous faites</p>
                </div>
              </div>

              <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                  <div class="icon"><i class="fa fa-bars"></i></div>
                  <h4><a href="">Types de demande</a></h4>
                  <p>Plus de 5 types de demandes (Demande de login , import BOP , insertion RIB , ect...)</p>
                </div>
              </div>



            </div>

          </div>
        </section><!-- End Services Section -->

        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta" style=" background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url(assets/img/cat-bg.png) center; ">
          <div class="container" data-aos="zoom-in">

            <div class="row">
              <div class="col-lg-9 text-center text-lg-start">
                <h3>Commencez a utiliser le site</h3>
                <p>D'apres ces Didacticiels et video tutoriel , qu'est-ce qui vous attends pour commencez a utilisez notre site web portail SIGFP</p>
              </div>
              <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" routerLink="/inscription" *ngIf="!userInform">S'inscrire</a>
                <a class="cta-btn align-middle" routerLink="/listeDemande" *ngIf="userInform">Faire une demande</a>
              </div>
            </div>

          </div>
        </section><!-- End Cta Section -->

        <!-- ======= Portfolio Section ======= -->

        <!-- ======= Team Section ======= -->
        <section id="team" class="team section-bg">
          <div class="container" data-aos="fade-up">

            <div class="section-title">
              <h2>Notre equipe</h2>
              <p>Notre equipe est composee de plusieurs talentueux developpeur de gestionnaire et d'economiste</p>
            </div>

            <div class="row">

              <div class="col-lg-6">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                  <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Walter White</h4>
                    <span>Chief Executive Officer</span>
                    <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                  <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Sarah Jhonson</h4>
                    <span>Product Manager</span>
                    <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
                  <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>William Anderson</h4>
                    <span>CTO</span>
                    <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                  <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Amanda Jepson</h4>
                    <span>Accountant</span>
                    <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </section><!-- End Team Section -->


        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
          <div class="container" data-aos="fade-up">

            <div class="section-title">
              <h2>QUESTIONS FRÉQUEMMENT POSÉES</h2>
              <p>Voici les listes des questions frequemment posez</p>
            </div>

            <div class="faq-list">
              <ul>
                <li data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">C'est quoi SIGFP ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                    <p>
                      Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                    </p>
                  </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Quel est l'utilite d'utiliser ce site web portail? Pourquoi pas utiliser comme la methode d'avant en envoyant des emails ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                    </p>
                  </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                    </p>
                  </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.
                    </p>
                  </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="500">
                  <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque.
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>
        </section><!-- End Frequently Asked Questions Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
          <div class="container" data-aos="fade-up">

            <div class="section-title">
              <h2>Contact</h2>
              <p>Voici ci-dessous toutes nos information comme adresse email , numero telephone , ect ....  <br>  Nous sommes ouvert pour tout type de conversation et de signalisation de bug dans notre site</p>
            </div>

            <div class="row">

              <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                  <div class="address">
                    <i class="bi bi-geo-alt"></i>
                    <h4>Localisation:</h4>
                    <p>Ministere de l'economie et des finances
                      Antaninarenina Porte 101,<br> Antananarivo 101 <br>
                      Madagascar </p>
                  </div>

                  <div class="email">
                    <i class="bi bi-envelope"></i>
                    <h4>Adresse E-mail:</h4>
                    <p>dgfag.cifag@gmail.com</p>
                  </div>

                  <div class="phone">
                    <i class="bi bi-phone"></i>
                    <h4>Telephone:</h4>
                    <p>+231 38 35 674 98</p>
                  </div>

                  <iframe src="https://maps.google.com/maps?q=ministere%20des%20budget%20et%20du%20finance%20antaninarenina&t=&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                </div>

              </div>

              <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form   role="form" class="php-email-form"  [formGroup]="contactForm" (ngSubmit)="contactSend()">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="name">Nom</label>
                      <input type="text" name="name" class="form-control" id="name" ngModel formControlName="nom">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="name">Numero telephone ou adresse email</label>
                      <input type="email" class="form-control" name="email" id="email" ngModel formControlName="contact" >
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="name">Objet</label>
                    <input type="text" class="form-control" name="subject" id="subject" ngModel formControlName="objet">
                  </div>
                  <div class="form-group">
                    <label for="name">Message</label>
                    <textarea class="form-control" name="message" rows="10"  ngModel formControlName="message"></textarea>
                  </div>
                  <div class="my-3">
                    <div class="spinner-border text-danger" role="status" *ngIf="loading === true" [@fadeInOut]>
                      <span class="sr-only">Loading...</span>
                    </div>
                    <div *ngIf="notif" style="color: green;" >Votre message a ete envoyer</div>
                  </div>
                  <div class="text-center"><button type="submit" *ngIf="loading === false" [@fadeInOut] [disabled]="contactForm.invalid">Envoyez message</button></div>
                </form>
              </div>

            </div>

          </div>
        </section><!-- End Contact Section -->

      </main><!-- End #main -->

      <!-- ======= Footer ======= -->
      <footer id="footer">



        <div class="footer-top">
          <div class="container">
            <div class="row">

              <div class="col-lg-3 col-md-6 footer-contact">
                <h3>SIGFP</h3>
                <p>
                  Ministere de l'economie et des finances <br>
                  Antaninarenina, Antananarivo 101<br>
                  Madagascar <br><br>
                  <strong>Telephone:</strong> +231 38 35 674 98<br>
                  <strong>Email:</strong> dgfag.cifag@gmail.com<br>
                </p>
              </div>

              <div class="col-lg-3 col-md-6 footer-links">
                <h4> Lien</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Acceuil</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">A propos de nous</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                </ul>
              </div>



              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Nos Reseaux Socials </h4>
                <p>Voici tout nos reseaux social pour nous contacter ou pour voir l'actualiter de notre etablissement</p>
                <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                  <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="container footer-bottom clearfix">
          <div class="copyright">
            &copy; Copyright by <strong><span>SIGFP</span></strong>. All Rights Reserved
          </div>

        </div>
      </footer><!-- End Footer -->

      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

      <!-- Vendor JS Files -->


    </body>
  </div>

</div>

