<div class="main-content" [@fadeInOut]>
  <div class="section__content section__content--p30">
      <div class="container-fluid">


          <div class="row">
            <div class="col-md-6 offset-md-3 mr-auto ml-auto">
              <div class="center">
                <h1 style="background-color: rgb(0, 85, 255); color: white;"><i class="fa fa-user" ></i> Recuperation de compte</h1>


                <!-- Email -->
                <form [formGroup]="emailCheck" (ngSubmit)="emailCheckFunction()"  *ngIf="step===0" [@changeDivDimension]>
                  <div class="txt_field">
                    <input type="text"  name="username" ngModel formControlName="email" required>
                    <span> </span>
                    <label><i class="fa fa-user"></i> Adresse E-mail <span class="badge text-bg-danger" style="background-color: red; color: white;" *ngIf="emailCheck?.invalid && emailCheck?.touched">e-mail invalide <i class="fa fa-times-circle"></i></span>
                    </label>
                  </div>
                  <div *ngIf="loading === true">
                    <div class="spinner-border text-primary" style="margin-left: 45%;" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>


                  <input type="submit" class="btn btn-primary" value="Demande le code de recuperation" [disabled]="emailCheck.invalid " style="margin-bottom: 25px ;" *ngIf="loading === false" >
                </form>


                <!-- Code de verification-->
                <form [formGroup]="codeForm" (ngSubmit)="checkCode()" style="opacity: 0; transition: 2s; opacity: 1;" *ngIf="step===1" [@changeDivDimension]=currentState>
                  <div class="txt_field">
                    <input type="number"  name="code" ngModel formControlName="code" required>
                    <span> </span>
                    <label><i class="fa fa-key"></i> Code de Recuperation <span class="badge text-bg-danger" style="background-color: red; color: white;" *ngIf="codeForm?.invalid && codeForm?.touched">code requis<i class="fa fa-times-circle"></i></span>
                    </label>
                  </div>
                  <div *ngIf="loading === true">
                    <div class="spinner-border text-primary" style="margin-left: 45%;" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>



                  <input type="submit" class="btn btn-primary" value="verifier le code" [disabled]="codeForm.invalid " style="margin-bottom: 25px ;" *ngIf="loading === false"  >
                </form>

                <!-- nouveau mdp -->
                <form [formGroup]="passwordForm" (ngSubmit)="newPassword()"  *ngIf="step===2 " [@changeDivDimension]>
                  <div class="txt_field">
                    <input type="password"  name="password" ngModel formControlName="password" required>
                    <span> </span>
                    <label><i class="fa fa-key"></i> Nouveau mot de passe <span class="badge text-bg-danger" style="background-color: red; color: white;" *ngIf="passwordForm?.invalid && passwordForm?.touched">mot de passe invalide <i class="fa fa-times-circle"></i></span>
                    </label>
                  </div>
                  <div *ngIf="loading === true">
                    <div class="spinner-border text-primary" style="margin-left: 45%;" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>


                  <input type="submit" class="btn btn-primary" value="valider" [disabled]="passwordForm.invalid " style="margin-bottom: 25px ;" *ngIf="loading === false" >
                </form>
                <h4 *ngIf="notif" style=" text-align : center ;color:red ;" [@fadeInOut]> {{notif}} </h4><br>
                <p style="text-align: center;" *ngIf="step===1" [@fadeInOut]> Code non envoyer ? <a (click)="forgetPass()">Renvoyer le code</a></p><br>


              </div>

            </div>
          </div>

      </div>
  </div>
</div>



<div id="popup1" class="overlay" *ngIf="notifPopUp" [@fadeInOut]>
  <div class="popup">
    <h2 class="titleNotif" >Notif :</h2>
    <div class="content">
      {{notifPopUp}}
    </div>
    <div>
      <button class="btn btn-primary" (click)="login()">Se connecter >></button>
    </div>
  </div>
</div>
